*{
	margin: 0;
	padding:0;
}
body{
	background-color: #0088ff;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
#container{
	position:relative;
	height: 77px;
	width: 100%
	margin:0px auto;
	background-color: black;
	/*box-shadow: 2px 2px 5px white, 2px 2px 5px white;*/
}
#container> nav > ul{
	margin: 0;
	padding: 0;
	list-style-type:none;
	display: flex;
	position: absolute;
	right: 50px
/* min-width:60%*/
}
#container > nav > ul > li{
	line-height: 77px;
	margin: 0 0px;
	padding: 0;
	text-align: center;
	display: lnline-block
/*background-color:green; */
min-width: 120px;
}
#container > nav >ul > li > a{
	position: relative;
	font-weight: hold;
	font-size: 20px;
	text-decoration: none;
/* background-color:green; */
margin: 0 20px;
color: white;
}
#container > nav> ul > li:hover{
	border-bottom:2px solid white;
	background-color: #0088ff;
}
#logo-conntainer{
	line-height: 60px;
	font-size: 30px;
	padding: 0 50px;
	color: white;
	width: 40%;
	letter-spacing: 2px;
	text-shadow:  2px 2px 5px;
}
#logo{
	height: 72px;
	float: left;
}
#items-container: {
	margin: 1em;
	/* hacia afuera*/
	height: 21em;
	/* altura*/
	padding: 1em;
	/*hacia adentro*/
	width: 96%;
	/* ancho del contenedor*/
}
.card{
	background: white;
	box-shadow: 3px 5px 8px rgb(0, 0, 0);
	/* r rojo g verde b azul*/
	/* primera posicion "x", segunda posicion "y", tercero valor"difuminacion, cuarto posicion es el color de la sombra*/
	transform: 0.3s;
	width: 30%;
	height: auto;
	float: right;
	margin: 1em;
	padding: 0em;
}
.card> img {
	height: 290px;
	width: 430px;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0,2);
}
.description-container{
	padding: 9px 16px
}